.button {
	position: absolute;
    display: inline-block;
}

.button .activ {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.button:hover .activ {
    display: inline;
}
